<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99055205056-ksp0b7v3fbqilsd8r1taubdbt2acn5cv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99055205056-ksp0b7v3fbqilsd8r1taubdbt2acn5cv</string>
	<key>API_KEY</key>
	<string>AIzaSyBsQWqs6_oH_gwMShJLNSPkZS4WE6THPAg</string>
	<key>GCM_SENDER_ID</key>
	<string>99055205056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>user.FlamyLink-Final</string>
	<key>PROJECT_ID</key>
	<string>flamylink-final</string>
	<key>STORAGE_BUCKET</key>
	<string>flamylink-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99055205056:ios:80746cc97b1021c8c58b25</string>
</dict>
</plist>